@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@theme {
    --color-selected: rgba(255, 170, 187, 0.14);
    --color-red: #FF0033;
    --color-darker: #111111;
    --color-dark: #1A1A1A;
}
